ion-content {
    --background: #eb5e6c;
}

.header {
    --background: #eb5e6c;
    
    ion-back-button {
        color: #05253b;
    }
}

.footer {
    text-align: center;
}

ion-card {
    background: none;
    border: none;
    box-shadow: none;
}

// card del estado del carnet
.carnet {
    background-image: url(/assets/cards/csdRed.png);
    background-size: 95%;
    height: 95%;
    width: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

// card con los datos del usuario
.data {
    top: 25%;
    left: 15%;
    height: fit-content;
    width: fit-content;
    rotate: 270deg;
}

.qr {
    rotate: 0deg;
    background: none;
    height: 20%;
    width: 36%;
    top: 10%;
    position: absolute;
    top: 5%;
    left: 20%;
}

ion-button {
    color: #05253b;
    font-weight: bold;
    margin-top: 25px;
}

h1 {
    color: rgb(235, 94, 108);
    margin-top: 15px;
    font-size: 16px;
    font-weight: 200;
    opacity: 0.8;
}

h2 {
    color: #05253b;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
}