<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-text>
    <h1>ÚLTIMOS MOVIMIENTOS</h1>
  </ion-text>
  <p>
    Por estar vacunado, ACCEDISTE a los
    siguientes BENEFICIOS:
  </p>
  <ul class="list-group-flush" id="recordList">
    <li id="listItem" *ngFor="let item of data.record_benefits | keyvalue">
      <ion-text>{{ item.value.dateRecord | date:'MM/YY'  }}</ion-text> - Obtuviste un beneficio de <ion-text>{{ item.value.benefit.name }}</ion-text> en <ion-text>{{ item.value.stores.name }}</ion-text>
    </li>
  </ul>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>BENEFICIOS</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
