<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-text>
    <h1>ÚLTIMOS MOVIMIENTOS</h1>
  </ion-text>
  <p>
    Por estar vacunado, ACCEDISTE a los
    siguientes BENEFICIOS:
  </p>
  <div style="padding-right: 35px; margin-bottom: 300px;" scrollY="true">
    <ul class="list-group-flush" id="recordList" style="margin-bottom: -35px;" *ngFor="let item of data.record_benefits | keyvalue">
      <li id="listItem" *ngIf='item.value.id >= 0'>
          <ion-text>{{ item.value.dateRecord | date:'MM/YY' }}
          </ion-text> - Obtuviste un beneficio de <ion-text>{{ item.value.benefit.name }}</ion-text> 
          en <ion-text>{{ item.value.stores.name }}</ion-text>
      </li>
    </ul>
  </div>
</ion-content>


