<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-text>
    <h1>ÚLTIMOS MOVIMIENTOS</h1>
  </ion-text>
  <p>
    Por estar vacunado, ACCEDISTE a los
    siguientes BENEFICIOS:
  </p>
  <ul class="list-group-flush" id="recordList">
    <li id="listItem" *ngFor="let item of data.record_benefits | keyvalue">
      {{ item.value.benefit.name }}<br>
      {{ item.value.dateRecord }}
    </li>
</ul>
</ion-content>
