ion-content {
    background-color: #05253b;
    margin-bottom: 55px;
}

ion-list {
    background-color: #05253b;
}

.header-img {
    height: auto;
    width: 75%;
    margin: auto;
    display: block;
}

ion-icon {
    color: #ffffff;
}