<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="2" class="ion-text-start">
            <ion-back-button defaultHref="tabs/benefits"></ion-back-button>
          </ion-col>
          <ion-col size="8">
            <ion-img [src]="'assets/imgs/logoMuni2.png'" class="header-img"></ion-img>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <img class="store-img" [src]="'assets/imgs/mesitaBanner.png'">
  <ion-grid [fixed]="true">
    <ion-row size="12">
      <ion-col size="8" class="store-title"> 
        <h2>{{ data.name }}</h2>
        <ion-icon name="pricetags-sharp" class="pricetag"></ion-icon>
        <h5 class="label">{{ category.name }}</h5>
      </ion-col>
      <ion-col size="4"> 
        <div class="container">
          <div class="box"><ion-icon name="logo-instagram"></ion-icon></div>
          <div class="box"><ion-icon name="logo-whatsapp"></ion-icon></div>
          <div class="box"><ion-icon name="globe"></ion-icon></div>
          <div class="box"><ion-icon name="call"></ion-icon></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="checked == 0" id="carnet-load" [routerLink]="['/tabs/uploads']" shape="round" color="success">CARGAR CERTIFICADO</ion-button>
  <ion-button *ngIf="checked == 1" expand="block" [routerLink]="['/carnet']" shape="round" color="warning">VERIFICANDO CERTIFICADO</ion-button>
  <ion-button *ngIf="checked == 2" expand="block" shape="round" class="pinButton" (click)="goToTakeBenefits(data.id, benefit.id)"> UTILIZAR BENEFICIO </ion-button>
  <h4>BENEFICIOS</h4>
  <hr>
  <p style="text-transform: uppercase;">{{ benefit.name }}.</p>

  <h4>CONDICIONES</h4>
  <hr>
  <p style="text-transform: uppercase;">{{ benefit.conditions }}.</p>

  <h4>DIRECCIÓN/ES</h4>
  <hr>
  <p style="text-transform: uppercase;">{{ data.address }}</p>

  <h4>¿CÓMO CANJEAR?</h4>
  <hr>
  <p>
    EXISTEN DOS FORMAS DE CANJEAR LOS BENEFICIOS:<br><br>
    / HACIENDO CLIC EN EL BOTÓN “UTILIZAR BENEFICIO”<br><br>
    Para lo cual deberás solicitar al personal del comercio promotor
    que ingrese su PIN para validar el beneficio.<br><br>
    / PRESENTANDO EL CARNET SALUDABLE<br><br>
    Ingresá desde el “ Home ” a tu carnet saludable y presentalo al
    personal del comercio promotor, quien lo escaneará para validar
    el beneficio.
  </p><br>
  <h3>PODRÁN PEDIRTE TU DNI PARA VALIDAR TU IDENTIDAD.<br>
    PODRÁS CONSULTAR TUS MOVIMIENTOS EN<br>
    PERFIL - ÚLTIMOS MOVIMIENTOS.</h3>
</ion-content>