ion-content {
    background-color: #05253b;
    margin-bottom: 55px;
}

ion-list {
    background-color: rgb(5, 37, 59);
}

ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

ion-icon {
    color: white;
}