<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start" text-start>
            <ion-icon name="information-circle-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <h2>VALIDÁ TU IDENTIDAD</h2>
  <h4>INGRESÁ TU DNI</h4>
  <ion-item>
    <ion-input placeholder="SIN PUNTOS NI ESPACIOS" inputmode="numeric" ></ion-input>
  </ion-item>
  <ion-button >CONTINUAR</ion-button>
</ion-content>
