<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <form>
    <ion-item>
      <ion-input placeholder="Dosis"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Tipo de Carnet"></ion-input>
    </ion-item>
    <ion-list>


      <ion-item>
        <ion-button expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button type="submit" color="danger" expand="block">ENVIAR</ion-button>
</ion-content>