<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start" text-start>
            <ion-icon name="information-circle-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-icon name="notifications-outline" size="large"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<div class="body-section">
  <ion-content [fullscreen]="true">
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-subtitle>Novedades</ion-card-subtitle>
        <ion-card-title>del Municipio</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-img class="city-news" [src]="'assets/imgs/city-hall.png'"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="terms-conditions" color="danger" expand="block" shape="round">VALIDAR IDENTIDAD</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-modal trigger="terms-conditions">
      <ng-template>
        <ion-content>
          <h5 color="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
          <ion-item>
            <ion-label>He leído y acepto los términos y condiciones de uso</ion-label>
            <ion-checkbox [(ngModel)]="checkedbtn" color="dark"></ion-checkbox>
          </ion-item>
          <button [routerLink]="['/validation']" (click)="register()" class="register-btn" [disabled]="!checkedbtn" ion-button icon-only>CONTINUAR</button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>