<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-grid>
      <ion-row class="ion-align-content-center">

        <ion-col>
          <ion-icon name="information-circle-outline" size="large"></ion-icon>
        </ion-col>

        <ion-col size="8">
          <ion-img [src]="'assets/logo-muni.png'"></ion-img>
        </ion-col>

        <ion-col>
          <ion-icon name="notifications-outline" size="large"></ion-icon>    
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"Home></ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>