:root {
    --ion-background-color-rgb: 255,255,255;
    --ion-text-color-rgb: 0,0,0;
    --ion-toolbar-background: 5, 37, 59;
    --ion-toolbar-background:255, 255, 255;
    --ion-tab-bar-color-selected: 255, 255, 114;
}

ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

.body-section {
    
    --background: url(/src/assets/imgs/city-hall.png) 0 0/100% 100% no-repeat;
}