ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

// info-button {
//     --background: rgb(5, 37, 59);
// }

ion-icon {
    color: rgb(255, 255, 255);
}

#profile-icon{
    color:black;
}