<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <form>
    <ion-label>DOSIS</ion-label>
    <ion-select interface="popover" placeholder="Elija una">
      <ion-select-option value="1">PRIMERA</ion-select-option>
      <ion-select-option value="2">SEGUNDA</ion-select-option>
      <ion-select-option value="3">TERCERA</ion-select-option>
      <ion-select-option value="4">CUARTA</ion-select-option>
    </ion-select>
    <ion-item lines="none"><ion-label></ion-label></ion-item>
    <ion-label>TIPO DE CARNET</ion-label>
    <ion-select interface="popover" placeholder="Elija uno">
      <ion-select-option value="f">FISICO</ion-select-option>
      <ion-select-option value="d">DIGITAL</ion-select-option>
    </ion-select>
    <ion-list [hidden]="isShow" lines="none">
      <ion-item>
        <ion-button id="stButton" expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="ndButton" expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="rdButton" expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button id="thButton" expand="block">
          <ion-icon lazy="true" slot="center" name="image"></ion-icon>
          <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
            accept="image/png, image/jpeg">
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
  <ion-fab (click) = toggleDisplay()>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button id="enviar" type="submit" expand="block" color="dark" fill="outline" shape="round">ENVIAR</ion-button>
</ion-content>