ion-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-content form {
    padding: 5%;
}

ion-label {
    margin-bottom: 5px;
}

ion-fab {
    position: absolute;
    bottom: 9%;
    right: 9%;
    
    ion-fab-button {
        --background: #05253b;
    }
}



#enviar {
    margin-left: 10%;
    margin-right: 10%;
}
