<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="2" class="ion-text-start">
            <ion-back-button defaultHref="benefits-take"></ion-back-button>
          </ion-col>
          <ion-col size="8" style="display: ruby;">
            <ion-img [src]="'assets/imgs/logoMuni2.png'" class="header-img"></ion-img>
          </ion-col>
          <ion-col size="2" class="ion-text-end">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <form [formGroup]="benefitData" (ngSubmit)="sendBenefitTake()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">PIN</ion-label>
      <ion-input type="text" formControlName="pin" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pin.errors?.required">
      El pin es requerido
    </span>
    <small class="error ion-padding" *ngIf="isSubmitted && msj">{{ msjText }}</small>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
