<ion-header>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="'/assets/imgs/logo_casadi.png'"></ion-img>
        <ion-button class="login" [routerLink]="['/login']" expand="block" shape="round">INICIAR SESIÓN</ion-button>
        <ion-text><h4>¿Todavía no tenés un usuario?</h4></ion-text>
        <ion-button class="register" [routerLink]="['/registration']" expand="block" shape="round">REGISTRARSE</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>