<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start">
            <ion-button fill="clear" shape="round">
              <ion-icon name="information-circle-outline" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-button fill="clear" shape="round">
              <ion-icon name="notifications-outline" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <div id="profile">
    <p id="title">PERFIL</p>
    <ion-avatar id="avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-button id="carnet-load" [routerLink]="['/carnet-load']" shape="round" color="success">CARGAR CERTIFICADO</ion-button>
    <ion-button id="records" href="#" shape="round" color="danger">ÚLTIMOS MOVIMIENTOS</ion-button>
    <form id="profile-form">
      <ion-item lines="full">
        <ion-input type="text" placeholder="SEXO" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="date" placeholder="FECHA DE NACIMIENTO" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="number" placeholder="DNI" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="number" placeholder="TELEFONO"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="text" placeholder="EMAIL"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="text" placeholder="PROVINCIA" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-input type="text" placeholder="CIUDAD" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button href="#" type="submit" color="danger" expand="block" size="large" shape="round">GUARDAR</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
