ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

ion-icon {
    color: rgb(255, 255, 255);
}

 ion-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p{

}

#profile {
    margin: auto;
    width: auto;
    padding: 20px;
    margin-bottom: 55px;
}

#carnet-load {
    margin-top: 25px;
}

#record-benefits {
    margin-top: 15px;
}

#profile-form {
    margin-top: 20px;
}

#avatar {
    margin: auto;
}

#title {
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(235, 94, 108);
}