ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

ion-icon {
    color: rgb(255, 255, 255);
}

 ion-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#profile {
    margin: auto;
    width: auto;
    padding: 20px;
}

#carnet-load {
    margin-top: 25px;
}

#records {
    margin-top: 15px;
}

#profile-form{
    margin-top: 2s0px;
}

#avatar {
    margin: auto;
}

#title {
    font-weight: 700;
}