<div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start" text-start>
            <ion-button fill="clear" shape="round">
              <ion-icon name="information-circle-outline" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-img [src]="'assets/imgs/logoMuni2.png'"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-button fill="clear" shape="round">
              <ion-icon name="notifications-outline" size="large"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-img [src]="'assets/imgs/tordo-fondo.png'" class="tordo-img"></ion-img>
  <ion-text>
    <h4>BENEFICIOS</h4>
    <h5>DESDE LA MUNICIPALIDAD DE La calera PREMIAMOS TU 
      COMPROMISO CON LOS SIGUIENTES BENEFICIOS EN LOS 
      COMERCIOS PROMOTORES. Recordá que podrán pedirte
      Tu DNI para validar tu identidad.</h5>
  </ion-text>
  <ion-row>
    <ion-col class="store-label" size="4">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>GASTRONOMÍA</ion-label>
      <ion-img [src]="'assets/imgs/mesita.png'" ng-Click="nextPage()"></ion-img>    
    </ion-col>
    <ion-col class="store-desc" size="8">
      <h1>RESTAURANTE 1</h1>
      <h2>LUNES A JUEVES 20% DE 
        DESCUENTO </h2>
    </ion-col>
  </ion-row>
</ion-content>
