ion-img {
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

ion-icon {
    color: white;
}

.city-news {
    margin-left: -250px;
}

.homescreen-content {
    height: 100%;
    display: flex;
  }

.split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.news {
    color: #032835;
    background-color: white;
    font-weight: 700;
    background-image: url(/assets/imgs/city-hall.png);
    font-size: 24px;
    height: 55%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.carnet {
    color: white;
    background-color: rgb(5, 37, 59);
    font-size: 10px;
    background-image: url(/assets/imgs/needle.png);
    left:0;
    top: 55%;
    height: 45%;
    width: 100%;
    background-size: cover;
}

.validation {
    color: white;
    background-color: rgb(5, 37, 59);
    font-size: 10px;
    background-image: url(/assets/imgs/needle.png);
    left:0;
    top: 55%;
    height: 45%;
    width: 100%;
    background-size: cover;
}

.news-centered {
    position: relative;
    top: 55%;
    text-align: left;
    width: fit-content;
    left: 30%;
}

.carnet-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.validation-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hr {
    color:transparent;
}

.news-text {
    font-weight: 900;
    text-align: left;
    font-size: 26px;
}

.validation-text {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 55px;
}

.carnet-text {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 55px;
}